@import "../../../scss/index";

.datosParametros {
  .editaParametros {
    margin: 0 auto !important;
    width: 60% !important;
  }

  .sindicalizadosyEmpleados {
    .tituloSeccion {
      margin-bottom: 10px !important;
    }
  }

  .contabilidad {
    .tituloSeccion {
      margin-bottom: 10px !important;
    }
  }

  .peregrinacion {
    .tituloSeccion {
      margin-bottom: 10px !important;
    }
  }

  .detallesFinales {
    .tituloSeccion {
      margin-bottom: 10px !important;
    }
  }

  .botones {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
}